DATABASE_URL=
REDIS_URL=

PORT=
TELEGRAM_TOKEN=
TELEGRAM_ADMIN=

SALT_ROUNDS=
JWT_SECRET=
EMAIL_SECRET=
REFRESH_SECRET=
COOKIE_SECRET=
PASSWORD_SECRET=

SENDGRID_API_KEY=
EMAIL_VERIFICATION_URL=
EMAIL_RESET_URL=
EMAIL_USER=
EMAIL_PASSWORD=
FROM_EMAIL=

PAYSTACK_SK=
PAYSTACK_PK=

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_CALLBACK_URL=

