node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
/logs

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore REST Client testing files
*.http
*.rest
http/
*.log
drizzle/
.editorconfig